.modal-body input {
    margin-bottom: 10px;
}
.record {
    margin-bottom: 10px;
}
body{
    background-color: #c9a8c179;
}
.container{
    border: solid 2px;
    margin-top: 10px;
    background-color: beige;
    justify-items: center;
}

#records-list{
    background-color: rgb(210, 171, 99);
    width: 1200px;
    margin-left: 360px;
    margin-top: 5px;
    border-left: solid 2px;
    border-bottom: solid 2px;
    border-right: solid 2px;
}

.card-body{
    background-color: antiquewhite;
}

.modal-content{
    height: auto;
}
#familiares-list {
    max-height: 300px; /* Alto máximo */
    overflow-y: auto; /* Permite desplazarse verticalmente */
    padding: 10px; /* Espacio interno */
}

#condiciones-list {
    max-height: 300px; /* Alto máximo */
    overflow-y: auto; /* Permite desplazarse verticalmente */
    padding: 10px; /* Espacio interno */
}

#internamientos-list {
    max-height: 300px; /* Alto máximo */
    overflow-y: auto; /* Permite desplazarse verticalmente */
    padding: 10px; /* Espacio interno */
}